* {
    margin: 0;
   font-family: Arial;
   border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
}

.nav_logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: contain;
    height: 50px;
    width: 100%;
}